<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Scrum Task Management</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('about')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Scrum Task Management</h1>
    <p class="lead">Scrum Task Management app for a scrum team or small business</p>

    <hr class="my-4">
    <p>Built with :</p>
    <ul>
        <li>Spring Boot</li>
        <li>Spring Security</li>
        <li>H2 database</li>
        <li>Thymeleaf</li>
        <li>Bootstrap</li>
    </ul>


</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>