<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Scrum Task Management</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 style="text-align:center" class="display-4">Welcome to Scrum Task Management </h1>
    <!--<p class="lead">This application will help you get stuff done</p>-->
    <h4> Project Topic :  </h4>
    <p>The agile "SCRUM" method is a flexible, reactive and adaptable approach which favors collaboration and dialogue
        between several people, each in turn is occupied by such a specific task..</p>
    <h4>Problematic :</h4>
    <p> The sprint backlog contains several tasks defined by the entire scrum team, in turn the scrum master takes care of assigning tasks to the development team.
      </br> For this we are in front of realizing this concept with an application that we offer flexibility in the realization of projects in the future.</p>


</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>